[submodule "sources_non_forked/vim-indent-guides"]
	path = sources_non_forked/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "sources_non_forked/vim-gitgutter"]
	path = sources_non_forked/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "sources_non_forked/neocomplete.vim"]
	path = sources_non_forked/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "sources_non_forked/indentLine"]
	path = sources_non_forked/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "sources_non_forked/vim-startify"]
	path = sources_non_forked/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "sources_non_forked/vim-easymotion"]
	path = sources_non_forked/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "sources_non_forked/mru.vim"]
	path = sources_non_forked/mru.vim
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "sources_non_forked/ctrlp.vim"]
	path = sources_non_forked/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "sources_non_forked/vim-nerdtree-tabs"]
	path = sources_non_forked/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "sources_non_forked/taglist.vim"]
	path = sources_non_forked/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "sources_non_forked/SimpylFold"]
	path = sources_non_forked/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "sources_non_forked/indentpython.vim"]
	path = sources_non_forked/indentpython.vim
	url = https://github.com/vim-scripts/indentpython.vim.git
[submodule "sources_non_forked/FastFold"]
	path = sources_non_forked/FastFold
	url = https://github.com/Konfekt/FastFold.git
[submodule "sources_non_forked/vim-flake8"]
	path = sources_non_forked/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "sources_non_forked/Zenburn"]
	path = sources_non_forked/Zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "sources_non_forked/syntastic"]
	path = sources_non_forked/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "sources_non_forked/vim-smooth-scroll"]
	path = sources_non_forked/vim-smooth-scroll
	url = https://github.com/terryma/vim-smooth-scroll.git
[submodule "sources_non_forked/lightline.vim"]
	path = sources_non_forked/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "sources_non_forked/vim-textobj-user"]
	path = sources_non_forked/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "sources_non_forked/vim-textobj-line"]
	path = sources_non_forked/vim-textobj-line
	url = https://github.com/kana/vim-textobj-line.git
[submodule "sources_non_forked/vim-textobj-parameter"]
	path = sources_non_forked/vim-textobj-parameter
	url = https://github.com/sgur/vim-textobj-parameter.git
[submodule "sources_non_forked/vim-textobj-variable-segment"]
	path = sources_non_forked/vim-textobj-variable-segment
	url = https://github.com/Julian/vim-textobj-variable-segment.git
[submodule "sources_non_forked/tabular"]
	path = sources_non_forked/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "sources_non_forked/vim-visual-increment"]
	path = sources_non_forked/vim-visual-increment
	url = https://github.com/triglav/vim-visual-increment.git
[submodule "sources_non_forked/jedi-vim"]
	path = sources_non_forked/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "sources_non_forked/vim-snipmate"]
	path = sources_non_forked/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "sources_non_forked/vim-snippets"]
	path = sources_non_forked/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "sources_non_forked/tlib_vim"]
	path = sources_non_forked/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "sources_non_forked/vim-addon-mw-utils"]
	path = sources_non_forked/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "sources_non_forked/bufexplorer"]
	path = sources_non_forked/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "sources_non_forked/auto-pairs"]
	path = sources_non_forked/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "sources_non_forked/vim-markdown"]
	path = sources_non_forked/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
